div {
	border: 1px solid #ededde; 
	background-color: #ededde;
}

hr {
	width: 100%; 
	color: black;
}

h1, h2, p {
	border: 1px solid #ededde; 
	margin-top: 20px; 
	margin-left: 40%; 
	margin-right: 40%; 
	text-align: center; 
	background-color: #ededde;
}

img {
	display: block;
	margin: 0 auto;
}

